$header-height: 8%;
$dashboard-page-bg-color: rgba(191, 35, 35, 0.5);
$side-menu-bg-color: rgba($color: #ffffff, $alpha: 1);
$header-bg-color: #fff;
$border-color: rgba(140, 140, 140, .5);

.side-menu  {
    padding-top: 5vh;
    width: 15%;
    height: 100%;
    float: left;
    background-color: #250844;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);

        div {
            padding: 1em 0em 1em 1em;
            text-align: left !important;
            padding-bottom: .5em;
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;

            .side-menu-item {
                padding-left: 1em;
                text-align: left;
                color: #ffffff;
                font-weight: 700;
                text-transform: uppercase;

            }

            .awesome-icon {
                width: 1em;
                height: 1.5em;
                color: #ffffff;
                margin: auto 0;
            }

        &:hover {
            background-color: #fff;
            transition: background-color .2s ease-in-out;

            .side-menu-item {
                color: #4284F3;
            }

            .awesome-icon {
                color: #4284F3;
            }

        }
    }
    
}



.dashboard-header {
    width: 100%;
    height: $header-height;
    color: 144E2F;
}
.dashboard-content {
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    position: relative;
  }
  
  .dashboard-page {
    width: 85%;
    height: 100vh;
    float: left;
    padding-left: 6%;
    padding-right: 6%;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    overflow-y: auto;

    .username {
        padding-right: 1em;
        color: #250844;
        font-weight: 700;
    }
  }

  .summary-details {
    position: relative;
    margin-top: 2em;
    gap: 2em;
  }

  .partners-text {
    text-align: left;
    color: #764BA2;
  }
  
  .card-div {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    border-radius: 50%;
    margin-right: 1em;
  }