.sign-login-div {
  width: 50%;
  margin: 15vh auto auto auto;
  padding: 5%;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.sign-login-div input {
  padding: 3%;
  margin: auto;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  border-radius: 0%;
  color: white;
  font-weight: 600;
}

.form-control:focus {
  background-color: blueviolet;
}

.sign-login-div input::placeholder {
  color: #FFFFFFEE;
}

.sign-login-div input:focus {
  outline: none;
  background-color: transparent;
  color: #fff;
  border: none;
}

.credential-button {
  width: 100% !important;
  font-weight: 500;

}

.signup-button {
  margin-top: 7%;
  border: none;
  height: 50px;
  background-color: #EFC90A;
  color: #000;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);

  float: left;
  position: relative;
}

.signup-button:hover {
  background-color: #ffffff;
  color: black;
}

input:focus {
  border: none;
}