.quick-details-content {
    width: 29vw;
    height: 68vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    padding: 2em;
    float: right;
    color: #fff;
    margin: auto;
}

.top-products-content {
    width: 41vw;
    height: 68vh;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    padding: 2em;
    float: left;
    color: #fff;
    margin: auto;
}

h6 {
    height: 4vh;
    margin: auto;
    padding-right: 0.5em;
    text-align: left;
}

table {
    width: 100%;
    margin: auto;   

    tr {
        width: 100%;

    }

    th {
        display: block;
        text-align: left;
        float: left;
        width: 32%;
        background-color: rgba($color: #000000, $alpha: .6);
    }

    td {
        width: 40%;
        margin-top: 0.5em;
        text-align: left;
        float: left;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
    }

    .quick-font {
        font-size: 1rem;
      margin-top: 7%;
    }

    .awesome-icon {
        width: 20% !important;
        padding: 3%;

    div {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;


    .icon {
        margin: 0 auto;
        text-align: center;
        align-self: center;
    }

    }
    
    }

    .line {
        border-bottom: 1px solid #fff;;
    }

}

.top-product-table {

    th {
        text-align: left;
        width: 32%;
        background-color: rgba($color: #000000, $alpha: .6);
        padding: .5em 1em .5em 1em;
    }

    td {
        width: 32%;
        margin: 0.5em auto;
        text-align: left;
        float: left;
        margin-bottom: 1em;
        padding: .5em 1em .5em 1em;
        border-bottom: 0.1em solid #bbb;
    }

    .stock {
        align-self: center;
        background-color: #F4D951;
        border-width: 1px;
        border-radius: 15px;
        text-align: center;
        color: black;
        font-weight: 500;
        width: 70%;
        padding: auto 2em;
        margin: auto;
      }

    .stock-heading {
        text-align: center;
    }
      
}


.click-for-more {
    padding: 12px 20px;
    border: none;
    width: 140px;
    background-color: transparent;
    color: #ffffff;
}

.click-for-more :hover {
    border-bottom: 1px solid #bbb;
    color: rgb(239, 175, 185);
}

.card-content {
    background-color: #F1F1F1;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    float: left;
    padding: 1.3em;

    .heading {
        text-align: center;
        color: #764BA2;
        text-transform: uppercase;
    }

    .name {
        text-align: left;
        color: #764BA2;
        font-weight: 600;
    }

    .email {
        text-align: left;
        color: #764BA2;
    }

    img {
        margin: .6em auto;
        border-radius: 50%;
        width: 8em;
        height: 8em;
    }
}