@import url(./../node_modules/normalize.css/normalize.css);

html {
  height: 100%;
  width: 100%;
  font-size: 16px;

  div {
    font-size: 1rem;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
body {
  margin: 0;
  font-family: Roboto, arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: 0rem !important;
}
